/* Reset default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px; /* Adjusted margin to move header content below the fixed nav */
}

.profile-photo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    object-fit: cover;
    border: 4px solid #fff;
}

.header-text {
    flex-grow: 1;
    text-align: left;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin: 0;
}

nav {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px 0;
    margin: 20px 0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px; /* To avoid being hidden under the fixed nav */
    display: none; /* Initially hide all sections */
}

section.highlight {
    background-color: #f9f9f9;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

.about p,
.job p,
.project p,
.contact p {
    text-align: center;
    margin: 10px 0;
}

.job,
.project {
    background: #f9f9f9;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    border-left: 5px solid #4CAF50;
}

.job h3,
.project h3 {
    margin-top: 0;
    color: #333;
}

.job ul {
    list-style: none;
    padding: 0;
}

.job ul li {
    background: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 3px;
}

.project a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
}

.project a:hover {
    background: #4CAF50;
    color: #fff;
}

.contact p {
    font-size: 1.2em;
}

.skills {
    text-align: center;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.skills li:hover {
    background-color: #45a049;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
